@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-weight: 400;
  src: url('./font/signika-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Signika Regular'), local('Signika-Regular'),
       url('./font/signika-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/signika-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./font/signika-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./font/signika-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./font/signika-v10-latin-regular.svg#Signika') format('svg'); /* Legacy iOS */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

:root {
  --platform-main-color: #635573;
  --platform-light-color: #fcfaff;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
}

.vairliMainContainer {
  display: flex;
  font-family: 'signika';
  display: flex;
  height: 100vh;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;

  .vairliMainContainerInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;

    .vairliMainContainerInfoConteudo {
      display: flex;
      flex-direction: column;
      align-items: center;

      .vairliLogo {
        width: 400px;
      }

      .vairliTitle {
        font-size: 100px;
        font-weight: bold;
        transition: .5s;

        &:hover {
          color: var(--platform-main-color);
        }

        .titleInfo {
          color: var(--platform-main-color);
        }

        .titleVersion {
          font-size: 20px;
        }
        
      }

      .vairliMainContainerInfoDescricao {
        font-size: 18px;
        text-align: center;
        color: var(--platform-main-color);
      }

      .vairliMainContainerInfoButtonContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70%;
        height: 100px;

        .vairliButton {
          width: 100px;
          border: 1px solid var(--platform-main-color);
          color: var(--platform-main-color);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          border-radius: 6px;
          text-decoration: none;
          cursor: pointer;
          transition: .4s ease;

          &:hover {
            background-color: var(--platform-main-color);
            color: #fff;
          }

        }

      }

    }

  }
  
  .vairliMainContainerImage {
    width: 60%;
    background-image: url('./images/vairliBG.jpeg');
    /*https://images.pexels.com/photos/1867001/pexels-photo-1867001.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500*/
    background-position: top;
    filter: brightness(0.7);
    border-top-left-radius: 30px;
    border-left: 5px solid var(--platform-main-color);
    border-top: 2px solid var(--platform-main-color);
  }
  
}

.navbarContainer {
  font-family: 'signika';
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90px;
  margin-bottom: 70px;
  box-shadow: 0px 2px 4px #0000000F;

  .navbarContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    max-width: 1000px;

    .navbarHomeButton {

      .vairliLogoHome {
        width: 200px;
      }

    }

    .navbarButtonsContainer {
      display: flex;
      align-items: center;
      height: 100%;

      .navbarActionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 100%;
        text-decoration: none;
        cursor: pointer;
        border-bottom: 0px solid var(--platform-main-color);

        &:hover {
          border-bottom: 2px solid var(--platform-main-color);
        }

        .navbarAction {
          transition: .4s ease;

          &:hover {
            color: var(--platform-main-color);
          }

          .navbarBarra {
            height: 0px;
            position: absolute;
            bottom: 0;
            background-color: #999999;
            border-radius: 5px 5px 0px 0px;
            visibility: hidden;
            transition: .3s;
          }

        }

      }

    }

  }

}

.vairliContentContainer {
  font-family: 'signika';
  display: flex;
  justify-content: center;

  .vairliContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;

    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

    .vairliContentTitle {
      font-size: 30px;
      font-weight: bold;

      .titleInfo {
        color: var(--platform-main-color);
      }

    }

    .vairliContentText {
      width: 100%;
      text-align: justify;
      margin-top: 50px;

      &.name {
        width: fit-content;

        .vairliContentTextDescription {
          color: var(--platform-main-color);
          text-align: center;
        }

      }

      .vairliContentTitleTag {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
  
        .titleInfo {
          color: var(--platform-main-color);
        }
  
      }

    }

    .vairliAirportContent {
      width: 100%;
      text-align: justify;
      margin-top: 50px;
      border-radius: 6px;
      border-left: 5px solid var(--platform-main-color);
      box-shadow: 0px 2px 10px #00000029;
      transition: .5s;

      &:hover {
        margin-left: 10px;
        background-color: var(--platform-light-color);
      }

      .vairliAirportContentText {
        padding: 10px;

        &.name {
          width: fit-content;

          .vairliContentTextDescription {
            color: var(--platform-main-color);
            text-align: center;
          }

        }

        .vairliContentTitleTag {
          display: flex;
          align-items: flex-end;
          font-size: 30px;
          font-weight: bold;
          margin-bottom: 10px;

          .titleIata {
            font-size: 16px;
            color: var(--platform-main-color);
          }
    
          .titleInfo {
            color: var(--platform-main-color);
          }
    
        }

        .vairliAirportContentInfoContainer {
          color: #666666;

          .vairliAirportContentInfo {
            display: flex;
            align-items: center;

            .svg-inline--fa {
              color: var(--platform-main-color);
              margin: 10px;
            }

          }

        }

      }
    
    }

    .vairliAirportMapContainer {
      text-align: justify;
      margin-top: 50px;
      border-radius: 6px;
      border-left: 5px solid var(--platform-main-color);
      box-shadow: 0px 2px 10px #00000029;
      width: 100%;
      height: 50vh;
    }

    .vairliContentSearchAirport {
      margin: 40px;

      .airportSearch {
        cursor: pointer;
        color: var(--platform-main-color);
        font-size: 16px;
        padding: 5px 5px 5px 30px;
        margin-top: 5%;
        height: 32px;
        background-color: #FFFFFF;
        border: 1px solid #CCC2B8;
        border-radius: 4px;
        resize: none;

        &:hover {
          border: 1px solid var(--platform-main-color);
        }

      }
    
    }

  }

}

.pageNotFoundContainer {
  font-family: 'signika';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--platform-main-color);

  .pageNotFoundContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    .pageNotFoundTitle {
      font-size: 200px;
    }

    .pageNotFoundDescription {
      font-size: 30px;
    }
    
    .pageNotFoundButton {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      color: #fff;
      width: 200px;
      height: 40px;
      border-radius: 6px;
      transition: .3s;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: var(--platform-main-color);
      }

    }

  }

}